body {
  font-style: normal;
  background-color: #262221;
  background-color: #121212;
  color: antiquewhite;
  background-attachment: fixed;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 3em;
}
h1 {
	color: cornflowerblue;
	text-align: center;
}
h2 {
	color: cornflowerblue;
	text-align: center;
}
section {
  font-size: 22px;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}
div {
  display: block;
}
.center {
	margin-left: auto;
	margin-right: auto;
  text-align: center;
  list-style: inside;
}
.center-large {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}
.image-bg{
  background-image: var(--image);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.earf-bg {
  background-image: url('images/gloryofEarf.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.purble-bg{
  background-image: url('images/purble.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.a-no-underline {
  text-decoration: none;
  color: inherit;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  color: antiquewhite;
  float: left;
  text-align: center;
  padding: 0.5em 1.7em 0.2em 0;
  text-decoration: none;
}
